:root {
  --font-primary: 'Inter', sans-serif;
  --color-bg-light: #f9f9f9;
  --color-text-light: #1a1a1a;
  --color-primary: #0f62fe;
  --color-secondary: #ffffff;
  --color-border: #e0e0e0;

  --color-bg-dark: #0d1117;
  --color-text-dark: #f0f6fc;
  --color-secondary-dark: #161b22;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode */
body.dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
